pkg/
bin/*.txt
bin/*.gtpl
bin/bee.exe
bin/blog.exe
bin/hello.exe
bin/interfaces.exe
bin/test_db.exe
bin/web.exe
bin/wiki.exe
bin/structs.exe
bin/test/
src/blog/
src/github.com/
src/hello/
src/interfaces/
src/stringutil/
src/structs/
src/test_db/
src/web/
src/wiki/
